*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color:white;
}

#nav{
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    padding: 0 30px;
    /* border: 2px solid black; */
}

#nav h4{
    font-size: 20px;
    font-weight: 400;
}

#nav i{
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 50%;
}

#center{
    /* height: 40%; */
    width: 100%;
    padding: 40px 80px 0px 80px;
    /* padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px; */
    /* background-color: aqua; */
    /* border: 2px solid black; */
}

#center h1{
    font-size: 65px;
    font-weight: 400;
    line-height: 75px;
    /* background-color: aqua; */
    /* line-height humesa jitna size dete h font ka usse thoda jada dete hai */

}

#center-in{
    height:140px;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

#center-in p{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

#right{
    width: 20%;

}

.ele{
    /* background-color: yellow; */
    /* margin: 5px; */
    padding: 10px 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ele i{
    font-size: 21px;
    font-weight: 400;
    opacity: 0; /* icon will not visible */
}

.ele:hover i{
    opacity: 1;
}

.ele:hover{
    background-color: #F5F5F4;
}


.ele a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
}

#bottom{
    height: 35%;
    width: 100%;
    /* background-color: aqua; */
    background-image: url(https://images.unsplash.com/photo-1495490140452-5a226aef25d4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 20%;
    background-repeat: no-repeat;
}   